build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
src/main/resources/docs/
out/
src/test/java/systemtests/
src/test/java/seedu/address/TestApp.java
src/test/java/seedu/address/ui/ProfileWindowTest.java
src/test/java/seedu/address/ui/MainWindowCloseTest.java
src/test/java/seedu/address/commands/ModifyCommandTest.java
